<h4><b>Add a collaborator</b></h4>
<%= form_for [wiki, collaborator] do |f| %>
  <div class="form-group">
    <%= f.label :user, class: 'sr-only' %>
    <%= f.text_field :user, class: 'form-control', placeholder: "Enter collaborator's email" %>
  </div>
  <%= f.submit "Add user", class: 'btn btn-default pull-right' %>
<% end %>
<br/>
<br/>
